<!DOCTYPE html>
<html lang=en>
    <head>
        <title= "Login"></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" rel="stylesheet" href="../css/inscr.css">
    </head>
    <body>
        <h2> Model Login Form</h2>
        <button onclick="document.getElementById('model01').style.display='block'"> Login </button>
        
        <div id="model01" class="modal">
            
            <form class="model-content" action="server/inscription.php" method="post">
                <div class="imgContainer">
                    <span onclick="document.getElementById('model01').style.display='none'" class="close" title="Close"> &times; </span>
                        <img src="static/images/photoinscr.png" alt="avatar" class="avatar">
                </div>
                <div class="container">
                    <label for="uname"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="uname" required>
                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" required>

                    <button type="submit">Login</button>

                    <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember Me</input>
                    </label>

                    <div class="container">
                        <button type="button" onclick="document.getElementById('model01').style.display='none'" class="cancelbtn"> Cancel</button>
                        <span class="psw"><a href="#"> Forget password</a></span>

                    </div>
                </div>

            </form>
        </div>
    </body>
    <script type="text/javascript">
        var modal = document.getElementById('model01');

        window.onclick = function(event){
            if (event.target ==modal) {
                modal.style.display = "none";
            }
        }
    </script>
</html>